.grid{
    display: grid;
    

    &_row2{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
        column-gap: 8rem;
        row-gap: 10.07rem;
        padding: 0px 5rem;
    }

    &_row1{
        grid-template-columns: 1fr 1fr 1fr;
        
        column-gap: 8rem;
        padding: 0px 5rem;
    }
}